*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*----------------------------------------------------------------*/

.wrapper {
    min-height: 100%;
}
.container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem 4rem 2rem 4rem;
}
.bayan {
   transition: all 1s;
}

.bayan__title {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0 0 10px 0;
    /* border-bottom: 1px solid #eee; */
}
.bayan__body {
}
.bbody {
    transition-duration: 1s;
}


/* .one-section:hover .row__close_first{
    display: block;
    transition: all 1s;
} */

/* .one-section:focus .one-section__wrap_first{
    display: none;
    
} */

.bbody__first {
}
.one-section {
    color: darkblue;
    
}

.one-section__row {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    line-height: 2;
    color: darkblue; */
}
/* .one-section__row_first {
    color: black;
} */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    line-height: 2;
}
.row__title {
    font-size: 1.7rem;
    font-weight: 600;
}
.row__title_first {
    
}
.row__open {
    display: none;
    font-size: 2rem;
    font-weight: 700;
    opacity: 1;
   
}
.row__open_first {
}
.row__close {
    font-size: 2rem;
    font-weight: 700;
    display: none;
}

.row__close_first {
    
}
.one-section__img {
    
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    padding: 0 0 1rem 0;
 

    
}
.one-section__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .one-section__img_first {
    display: block;

    
} */
.one-section__wrap{
    display: none;
    opacity: 1;
 
}

/* .one-section__wrap_first{
    display: block;
} */
@media(hover:hover){
    .row:hover .row__close{
        display: block;
    }
    .row:hover + .row__open{
        display: none; 
    }
    .row:hover + .one-section__wrap{
        display: block;
       opacity: 1;
       transition: all 5s;
    }
 
    .bbody:hover .one-section{
        cursor: pointer;
        color: black;
        transition: all 1s;
    }
    .bbody:hover  .row__open{
        display: block;
    }
    .one-section:hover  .row__open  {
        opacity: 0;
    }
}

.one-section:active .row {
    
    transition: all 0.5s;
    color: darkblue;

}
.one-section:active .one-section__wrap{
    transition: all 0.5s;
    opacity: 0.5;
}
.one-section:focus .one-section__wrap{
    display: block;
    
}
.one-section:focus .row__close{
    display: block;
    transition:  all 0.5s;
    
}
.one-section:focus .row__open{
    opacity: 0;
    
}
.one-section:focus {
    color: black;
    
}
@media(max-width:990px){
    .row__title {
        font-size: 2rem;
        line-height: 2;
        
    }
}
@media(max-width:615px){
    .row__title {
        font-size: 2.1rem;
        line-height: 1;
        
    }
    .bbody {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .row{
        border-top: 1px solid gray;
    }
}

